<!DOCTYPE html>
<html>
<head>
  <title>Choose Our Mascot</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Dev Bootcamp needs a mascot!</h1>
Sure we have kittens, vampires, Santas, but we need something that is essentially DBC. Let us know your suggestions!
  <form action="/students/mascot" method="POST">
  <input type="text" name="mascot_ideas" placeholder="Mascot">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
</body>
</html>