body {
   margin: 20%;
   padding: 5%;
}


img {
   display: inline-block;
   margin: auto;
   padding: 0;
}

#octopus {
   position: relative;
   top:-100px;
   left: -13px;
   z-index: -1 
}

#glasses {
   position: relative;
   top:-455px;
   left: -9px;   
}

#hat {
   position: relative;
   top: -450px;
   
}

